{% extends "layout.html" %}

{% block heading %}
	Registration Page
{% endblock %}

{% block body %}

  {% if flag %}
    <h3>The user isn't registered. Please create an account.</h3>
  {% endif %}
	<p>
		ENTER YOUR DETAILS
	</p>

	<script src="{{ url_for('static', filename='ValidEmailPW.js') }}">
  </script>

  <form id='form' action="{{ url_for('register') }}" method="post">
    
    <div class="form-group">
      <div class="row">
        <div class="col-2">
          <label for="exampleInputEmail1">Username</label>
        </div>
        <div class="col-8">
          <input type="name" name="name" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">  
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-2">
          <label for="exampleInputPassword1">Password</label>
        </div>
        <div class="col-8">
          <input type="password" name="pw" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>

    </div>

    <!-- <input type="submit" name=""> -->
    <button class="btn btn-outline-primary">Submit</button>
  </form>

  <div class="warning">
  <p>Please Enter Valid username and password</p>
  </div>

{% endblock %}