@media only screen and (max-width: 750px){
	body {
		background-image: url("../Images/images_one.jfif");
	}
	#top {
	background-image:linear-gradient(red, white);
	}
}

@media only screen and (min-width: 751px){
	body {
		background-image: url("../Images/images.jfif");
	}

	#top {
	background-image:linear-gradient(grey, #f1f1f1);
	}
}

h2 {
	padding:15px;
	color:black;
	border:10px;
	text-align: center;
	margin-bottom: 5px;
}

p {
	text-align: justify;
}

h3 {
	text-align: center;
	color:#8566aa;
}

.col-sm-5 {
	margin: 0px;
}

.grid {
	display:grid;
	padding:20px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-columns: auto auto auto 
}

.grid-item {
	display: card;
	text-align: justify;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding-bottom: 10px;
}

